@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,900;1,400&display=swap');
:root{
    --font:'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

    --large-weight:900;
    --small-weight:100;
    --medium-weight:500;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, input, select):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


a, button {
    cursor: revert;
}


ol, ul, nave {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}


table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


:where(pre) {
    all: revert;
}


::placeholder {
    color: unset;
}


::marker {
    content: initial;
}


:where([hidden]) {
    display: none;
}


:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
        line-break: after-white-space;
    -webkit-user-select: auto;
        user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


:where(dialog:modal) {
    all: revert;
}
html{
    font-family: var(--font);
    font-size: 62.5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

input, label, button {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 3rem;
    text-align: right;
}

input:focus {
    outline: 1px solid gray;
}

td{
    padding-right: 0.5rem;
}

button{
    width: 100%;
    height: 50px;
    text-align: center;
    border: none;
    background: rgb(215, 119, 23);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    height: 5.0rem;
    cursor: pointer;
    margin-top: 0.7rem;
    margin-right: 5rem;
}

.btn-num{
    background-color: rgb(16, 16, 16);
}

.calculadora {
    width: 400px;
}